<div _ngcontent-hoc-c3="" _ngcontent-gin-c2="" class="login_area">
    <form _ngcontent-hoc-c3="" _ngcontent-gin-c2="" action="http://ts911go.com/api/loginUfabet.php" class="ng-untouched ng-pristine ng-valid" id="form3" method="post" novalidate="">
        <input _ngcontent-hoc-c3="" _ngcontent-gin-c2="" class="form-control input-text" id="username" name="username" placeholder="Username" required="" type="text">
        <input _ngcontent-hoc-c3="" _ngcontent-jev-c0="" id="ac" name="ac" type="hidden" value="loginUfabet">
        <input _ngcontent-hoc-c3="" _ngcontent-gin-c2="" class="form-control input-text" id="password" name="password" placeholder="Password" required="" type="password">
        <div _ngcontent-hoc-c3="" _ngcontent-gin-c2="" class="login_btn" onclick="doPostBackBetufa2('btnSignIn','')">เข้าสู่ระบบ</div>
    </form>
</div>

<div _ngcontent-khw-c3="" style="display:block;">
    <ngx-slick-carousel class="carousel" 
    #slickModal="slick-carousel" 
    [config]="slideConfig" >
        <div ngxSlickItem *ngFor="let slide of imageUrls" class="slide">
        <img src="{{ slide.img }}" alt="" width="100%">
        </div>
    </ngx-slick-carousel>
</div>


<div _ngcontent-skh-c3="" class="div_icon_area">
    <div _ngcontent-skh-c3="" class="div_4"><img _ngcontent-skh-c3="" class="tt_img_df hvr-push hover aos-init aos-animate" data-aos="fade-up" data-aos-delay="200" data-aos-once="true" src="assets/images/content/sport.jpg?v=1.1"></div>
    <div _ngcontent-skh-c3="" class="div_4"><img _ngcontent-skh-c3="" class="tt_img_df hvr-push hover aos-init aos-animate" data-aos="fade-up" data-aos-delay="200" data-aos-once="true" src="assets/images/content/casino.jpg"></div>
    <div _ngcontent-skh-c3="" class="div_4"><img _ngcontent-skh-c3="" class="tt_img_df hvr-push hover aos-init aos-animate" data-aos="fade-up" data-aos-delay="200" data-aos-once="true" src="assets/images/content/livefootball.jpg"></div>
    <div _ngcontent-skh-c3="" class="div_4"><img _ngcontent-skh-c3="" class="tt_img_df hvr-push hover aos-init aos-animate" data-aos="fade-up" data-aos-delay="200" data-aos-once="true" src="assets/images/content/game.jpg"></div>
</div>

<div _ngcontent-skh-c3="" class="content_">
    <div _ngcontent-skh-c3="" class="container">
        <div _ngcontent-skh-c3="" class="div_1"><img _ngcontent-skh-c3="" class="tt_img_df img_center" src="assets/images/logo/logo.png">
            <div _ngcontent-skh-c3="" class="textHead"> ให้บริการ แทงบอลออนไลน์แทงบอลเงินสด คาสิโนออนไลน์ สล็อตออนไลน์
                <br _ngcontent-skh-c3=""> พนันบอลออนไลน์ <span _ngcontent-skh-c3="" class="text_yellow">TS911</span> ที่ดีที่สุด บริการตลอด 24 ชั่วโมง
                <br _ngcontent-skh-c3=""> ฝาก-ถอนไม่มีขั้นต่ำ <span _ngcontent-skh-c3="" class="text_yellow">TS911</span> บอลเปิดเยอะกว่า SBOBET
                <br _ngcontent-skh-c3="">
            </div>
            <div _ngcontent-skh-c3="" class="textDes"><span _ngcontent-skh-c3="" class="text_yellow">เว็บพนันบอลออนไลน์</span> TS911 กีฬาออนไลน์ แล้วก็คาสิโนทุกชนิด สามารถเล่น <span _ngcontent-skh-c3="" class="text_green">สมัคร TS911</span> ผ่านเว็บ หรือ บนโทรศัพท์
                <br _ngcontent-skh-c3=""> เคลื่อนที่ Iphone (ไอโฟน) หรือ Android (แอนดรอยด์) ซึ่งมีระบบระเบียบรักษาความ ปลอดภัย รวมทั้งเป็นมืออาชีพ
                <br _ngcontent-skh-c3=""> เชื่อใจได้รวมทั้งมีมาตรฐานสากลสุดยอดสำหรับในการรอง รับการพนันบอลออนไลน์ แทงบอลออนไลน์ ผ่านอินเตอร์เน็ต
                <br _ngcontent-skh-c3=""> รวมทั้ง คาสิโนออนไลน์ ที่มีนานาประการเกมส์ ให้เลือกเล่น และเว็บเรายัง <span _ngcontent-skh-c3="" class="text_red">แจกเครดิตฟรี</span> ให้คุณลูกค้าด้วย ดีกว่า sbobet
                <br _ngcontent-skh-c3="">
                <br _ngcontent-skh-c3=""><span _ngcontent-skh-c3="" class="text_yellow">เว็บ 8GOLD8 </span> เป็นศูนย์รวมความบันเทิงมากมายที่สามารถเข้ามา<span _ngcontent-skh-c3="" class="text_yellow">แทงบอลออนไลน์ TS911</span> ได้ทุกที่ทุกเวลา
                <br _ngcontent-skh-c3=""> เพื่อให้คุณไม่พลาดการเชียร์กีฬาโปรดหรือการแข่งขันชิงชัยในนัดสำคัญ ด้วยการอัพเดทตารางการแข่งขันชิงชัย
                <br _ngcontent-skh-c3=""> ราคาต่อรอง บทวิจารณ์ ความเห็น ลิงค์การถ่ายทอดสด พร้อมอัพเดทสกอร์กันแบบเรียวไทม์ เพื่อคุณได้ทราบ
                <br _ngcontent-skh-c3=""> ผลการแข่งขันกัน ได้อย่างรวดเร็ว เพียงแค่คุณเข้ามาเป็นสมาชิก กับเว็บแทงบอลออนไลน์ 8GOLD8 คุณก็จะได้รับ
                <br _ngcontent-skh-c3=""> สิทธิพิเศษเพื่อร่วมเข้ามา แทงบอลออนไลน์ กับพวกเราได้โดยทันที พร้อมบริการที่สุดประทับใจ ซื่อสัตย์ ซื่อตรง
                <br _ngcontent-skh-c3=""> ยุติธรรม สามารถตรวจยอดเงิน <span _ngcontent-skh-c3="" class="text_green">ยอดเโอนเงินเข้าออก ได้ตลอด 24 ชม.</span>
                <br _ngcontent-skh-c3=""> และเล่น คาสิโนออนไลน์ (casino online) ได้ทุกที่ทุกเวลา
                <br _ngcontent-skh-c3="">
            </div>
        </div>
    </div>
    <div _ngcontent-skh-c3="" class="div_icon_area">
        <div _ngcontent-skh-c3="" class="div_1 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200" data-aos-once="true"><img _ngcontent-skh-c3="" class="tt_img_df" src="assets/images/content/howtoplay.jpg"></div>
    </div>
    <div _ngcontent-skh-c3="" class="div_icon_area div_footer">
        <div _ngcontent-skh-c3="" class="div_1 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200" data-aos-once="true"><img _ngcontent-skh-c3="" class="tt_img_df" src="assets/images/content/banking.jpg"></div>
    </div>
</div>
<div _ngcontent-vrb-c3="" attr="http://line.me/ti/p/~@8gold8" class="qr-popup"><i _ngcontent-vrb-c3="" aria-hidden="true" class="fa fa-window-close fa-6 close-qr"></i></div>
<!-- 
<div  class="content_">
    <div  class="container content_area_set">
            <div  class="login_area">
                <form  action="https://www.memberbet.com/chkLogin" id="flogin" method="post" novalidate="" class="ng-untouched ng-pristine ng-valid">
                    <input  class="form-control input-text" id="txtUsername" name="user" placeholder="Username" required="" type="text">
                    <input  class="form-control input-text" id="txtPassword" name="pass" placeholder="Password" required="" type="password">
                    <div  class="login_btn">เข้าสู่ระบบ</div>
                </form>
            </div>
            <div _ngcontent-oex-c6="" class="titleContentBot"><div _ngcontent-oex-c6="" class="titleLeft">บทความ</div><div _ngcontent-oex-c6="" class="viewmore" routerlink="/news" tabindex="0" routerLink="/news"><img class="hover" style="width: 60px;" src="/assets/images/icon/all.png" alt=""></div></div>
            
            <div _ngcontent-oex-c6="" class="dataContentBot">
                    <div _ngcontent-oex-c6="" class="row">
                        <ng-container *ngFor="let todo of todoList; index as i; first as isFirst;let l = count">
                            <div _ngcontent-oex-c6="" class="col-sm newsArea" tabindex="0" routerLink="/news/news-detail/{{todo.adjust_page_title}}-{{todo.adjust_page_id}}">
                                <div _ngcontent-oex-c6="" class="image-news" [ngStyle]="{'background-image':'url('+todo.adjust_image+')'}">
                                    &nbsp;
                                </div>
                                <div _ngcontent-oex-c6="" class="text-news" style="color:white; height: 48px; overflow: hidden;"> {{todo.adjust_page_title}} </div>
                                <div class="date_news"> {{todo.adjust_page_create_date}} </div>
                            </div>
                        </ng-container>
                    </div>
                </div>

            <div _ngcontent-jev-c3="" class="row sport_button">
                <div _ngcontent-jev-c3="" class="col col-6 col-sm-3 hvr-push no-padding top_banner aos-init aos-animate" data-aos="fade-right" data-aos-delay="200" data-aos-once="true" style="overflow: hidden; ">
                    <div _ngcontent-jev-c3="" class="sport_img tt_l tt_col_c banner_hover Parent fadeInLeft animated"><img _ngcontent-jev-c3="" class="tt_img_df" src="assets/images/icon/sport.jpg"></div>
                </div>
                <div _ngcontent-jev-c3="" class="col col-6 col-sm-3 hvr-push no-padding top_banner aos-init aos-animate" data-aos="fade-right" data-aos-delay="300" data-aos-once="true" style="overflow: hidden; ">
                    <div _ngcontent-jev-c3="" class="casino_img tt_l tt_col_c banner_hover Parent fadeInLeft animated"><img _ngcontent-jev-c3="" class="tt_img_df" src="assets/images/icon/casino.jpg"></div>
                </div>
                <div _ngcontent-jev-c3="" class="col col-6 col-sm-3 hvr-push no-padding top_banner aos-init aos-animate" data-aos="fade-right" data-aos-delay="200" data-aos-once="true" style="overflow: hidden; ">
                    <div _ngcontent-jev-c3="" class="sport_img tt_l tt_col_c banner_hover Parent fadeInLeft animated"><img _ngcontent-jev-c3="" class="tt_img_df" src="assets/images/icon/lotto.jpg"></div>
                </div>
                <div _ngcontent-jev-c3="" class="col col-6 col-sm-3 hvr-push no-padding top_banner aos-init aos-animate" data-aos="fade-right" data-aos-delay="300" data-aos-once="true" style="overflow: hidden; ">
                    <div _ngcontent-jev-c3="" class="casino_img tt_l tt_col_c banner_hover Parent fadeInLeft animated"><img _ngcontent-jev-c3="" class="tt_img_df" src="assets/images/icon/muaythai.jpg"></div>
                </div>
            </div>
            <div _ngcontent-jev-c3="" class="row sport_button" style="margin-top:0px">
                    <div _ngcontent-jev-c3="" class="col col-12 col-sm-6 hvr-push no-padding top_banner aos-init aos-animate" data-aos="fade-right" data-aos-delay="200" data-aos-once="true" style="overflow: hidden; ">
                        <div _ngcontent-jev-c3="" class=" tt_l tt_col_c banner_hover Parent fadeInLeft animated">
                            <img _ngcontent-jev-c3="" style="width: 100%;padding:5px;" class="tt_img_df" src="assets/images/icon/callcenter.jpg?v=1.1">
                        </div>
                    </div>
                    <div _ngcontent-jev-c3="" class="col col-12 col-sm-6 hvr-push no-padding top_banner aos-init aos-animate" data-aos="fade-right" data-aos-delay="300" data-aos-once="true" style="overflow: hidden; ">
                        <div _ngcontent-jev-c3="" class=" tt_l tt_col_c banner_hover Parent fadeInLeft animated">
                            <img _ngcontent-jev-c3="" style="width: 100%;padding:5px;"  class="tt_img_df" src="assets/images/icon/banking.jpg">
                        </div>
                    </div>
                </div>
    </div>
</div>

<div _ngcontent-gyx-c3="" attr="http://line.me/ti/p/~@8GOLD8" class="qr-popup"><i _ngcontent-gyx-c3="" aria-hidden="true" class="fa fa-window-close fa-6 close-qr"></i></div> -->